<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<form action="/kittens" method="post">
    <label>Name</label>
    <input name="name" id="name"><br/>
    <label>Age</label>
    <input name="age" id="age"><br/>
    <label>Img</label>
    <input name="img" id="img"><br/>
    <input type="submit">
</form>

<!--<div th:each="p : ${cat}">-->
<!--    <p>name : <span th:text="${p.name}"></span></p>-->
<!--    <p>age : <span th:text="${p.age}"></span></p>-->
<!--    <p>img : <span th:text="${p.img}"></span></p>-->
<!--    <input type="submit" value="update">-->

<!--</div>-->






















<!--<form method="POST" action="/profile">-->
<!--        <label for="name"> Name:</label>-->
<!--        <input type="text"  id="name" name="name"/>-->

<!--        <label for="age">Age :</label>-->
<!--        <input type="text" name="age" id="age"/>-->

<!--        <label for="img">Image:</label>-->
<!--       <input type="text" name="img"  id="img" />-->


<!--    <button type="submit">Submit</button>-->
<!--</form>-->
<!--   <form action="#" th:action="@{/catPicture}" th:object="${catPicture}" method="post">-->
<!--       <label>name :</label>-->
<!--       <input field="*{name}" type="text" name="name"/><br/>-->
<!--       <label>age :</label>-->
<!--       <input field="*{age}" type="text" name="age"/><br/>-->
<!--       <label>image :</label>-->
<!--       <input field="*{img}" type="text" name="img"/><br/>-->
<!--       <input type="submit" value="submit">-->
<!--   </form>-->

<!--<div th:each="cat : ${myKittens}">-->
<!--    <p>name : <span th:text="${cat.name}"></span></p>-->
<!--    <p>name : <span th:text="${cat.age}"></span></p>-->
<!--    <img th:src="${cat.img}">-->

<!--</div>-->
</body>
</html>